.fo-content-body {
  margin: 85px 7px;
}

@media screen and (min-width: 754px) {
  .fo-content-body {
    margin: 64px 7px;
  }
}

@media screen and (min-width: 980px) {
  .fo-content-body {
    margin: 95px 7px;
  }
}