.fo-menu{
    margin: 7px;
    padding: 0;
    display: none;
}

.fo-menu__open {
    display: inline-block !important;
}

.fo-menu-link {
    display: inline-block;
    border: 1px solid #5eb2d1;
    width: 100%;
    color: #3fa3c9;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    background-color: white;
    margin: 2px 0; 
}

.fo-menu-link:visited {
    color: #3fa3c9;

}

.fo-menu-link:hover {
    color: #434242;
}